.idea/
.idea*
.gradle
*.iml
*.ipr
build
!app/src/main/webapp/bower_components/**/build
classes
common.iml
log/
out/
profitek.iws
gradle-local.properties
node_modules
.DS_Store
data

**/gradle-wrapper.jar

app/src/main/resources/application-local.properties
app/src/test/resources/application-local.properties
notifications/src/main/resources/application.properties
notifications/src/main/webapp/WEB-INF/application.properties
price-crawler/src/main/resources/application-local.properties
unicrawl/src/main/resources/application.properties
common-test/src/main/resources/application-local.properties
app/src/test/resources/application-local.properties
price-crawler/src/main/resources/hibernate.cfg.xml
common/src/test/resources/application-local.properties
price-crawler/src/test/resources/application-local.properties

test_file.csv
common/test_file.csv
